<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="__STATIC__/fonts/font-awesome-4.7.0/css/font-awesome.min.css" /><!--字体图标-->
<link rel="stylesheet" href="__STATIC__/css/components.min.css" /><!--按钮及颜色样式-->
<link rel="stylesheet" href="__STATIC__/css/admin_style.css?version=001" /><!--自定义样式-->
<link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css">

<script type="text/javascript" src="__STATIC__/js/jquery-2.1.1.min.js"></script>

<title>肇庆OA文件共享管理系统</title>
</head>

<body>
<div class="form_box">
	<form action="{:url('AccountManagementApi/userAddApi')}" method="POST" name="user_form">
		<table>
			<tbody>
				<tr>
					<th><font>*</font>用户名：</th>
					<td>
						<input type="text" name="username" placeholder="请输入用户名"/>
					</td>
				</tr>
				<tr>
					<th><font>*</font>密码：</th>
					<td>
						<input type="password" name="password" placeholder="请输入密码"/>
					</td>
				</tr>
				<tr>
					<th><font>*</font>确认密码：</th>
					<td>
						<input type="password" name="repassword" placeholder="再次输入密码"/>
					</td>
				</tr>
				<tr>
					<th><font>*</font>备注：</th>
					<td>
						<textarea name="remarks" placeholder="请输入备注信息"></textarea>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="10">
						<a onclick="userAdd()" class="btn green">确认提交 <i class="fa fa-check-circle"></i></a>
						<a onclick="empty()" class="btn red">重置 <i class="fa fa-times-circle"></i></a>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
</body>
<script type="text/javascript">
	$(function(){});
	//文件上传
	function userAdd(){
		var username = $("input[name='username']").val();
		var password = $("input[name='password']").val();
		var repassword = $("input[name='repassword']").val();
		var remarks = $("textarea[name='remarks']").val();

            
		if(!username){
			alert('用户名不能为空');
			return false;
		}
		if(!password){
			alert('密码不能为空');
			return false;
		}
		if(password!==repassword){
			alert('两次密码不一致');
			return false;
		}
		if(!remarks){
			alert('备注不能为空');
			return false;
		}

		$('form[name="user_form"]').submit();
	}
	
	//重置
	function empty()
	{
		$("input[name='username']").val('');
		$("input[name='password']").val('');
		$("input[name='repassword']").val('');
		$("textarea[name='remarks']").val('');
	}

</script>
</html>