<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="js/font-awesome-4.7.0/css/font-awesome.min.css" /><!--字体图标-->
<link rel="stylesheet" href="css/components.min.css" /><!--按钮及颜色样式-->
<link rel="stylesheet" href="css/style.css?version=001" /><!--自定义样式-->
<title>肇庆OA文件共享管理系统</title>
</head>

<body>
<div class="form_box">
	<table>
		<tbody>
			<tr>
				<th><font>*</font>用户名：</th>
				<td>administrator</td>
			</tr>
			<tr>
				<th><font>*</font>密码：</th>
				<td>
					<input type="password" placeholder="密码不能少于6位"/>
				</td>
			</tr>
			<tr>
				<th><font>*</font>确认密码：</th>
				<td>
					<input type="password" placeholder="再次输入密码"/>
				</td>
			</tr>
			<tr>
				<th><font>*</font>备注：</th>
				<td>
					<textarea placeholder="请输入备注信息"></textarea>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="10">
					<a href="javascript:void(0);" class="btn green">确认提交 <i class="fa fa-check-circle"></i></a>
					<a href="javascript:void(0);" class="btn red">重置 <i class="fa fa-times-circle"></i></a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
</body>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
$(function () {

});
</script>
</html>